 header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:#DFA675;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  margin-top: 120px;
}

.name {
align-self: center;
}

.avatar{
align-self: center;
}

@media all and (min-width: 1024px) {
  header { 
   display:flex;
   float:left; 
   margin-left: 10px auto;
   width:40%;
  }
}