
.new-tweet {
background-color:lightgray;
}

#tweet-text {
  border: solid black;
  background-color: lightgrey;
  border-width: 0px 0px 5px  0px;
  display:flex;
  width:100%;
  margin: auto;
}
.counter {
/*  align-content: center;*/
font-family: Bungee;
font-weight: 400;
justify-content: flex-end;
display:flex;
padding-top: 5px;
}
.submit {
  background-color: darkblue;
  color: aliceblue;
  font-family: Bungee;
  font-weight: 400;
  justify-content: flex-start;
  display:flex;
  margin-top: 10px;
}